@model UAS.Core.DAL.Common.Model.Page

@{
    ViewBag.Title = "Páginas";
}
   <div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2 class="text-uppercase">@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Administración</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Crear Página</h5>
                    </div>
                    <div class="ibox-content">
    
    				@using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                <label class = "control-label col-md-2">Título</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Item de Menú</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MenuItem)
                    @Html.ValidationMessageFor(model => model.MenuItem)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2"># Padre</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ParentId)
                    @Html.ValidationMessageFor(model => model.ParentId)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Icono</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Icon)
                    @Html.ValidationMessageFor(model => model.Icon)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Orden</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Order)
                    @Html.ValidationMessageFor(model => model.Order)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Fecha de Registro</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RegisterDate)
                    @Html.ValidationMessageFor(model => model.RegisterDate)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Controlador</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Controller)
                    @Html.ValidationMessageFor(model => model.Controller)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Acción</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Action)
                    @Html.ValidationMessageFor(model => model.Action)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
    				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
                </div>
            </div>
        </div>
    }
    
                    </div>
                </div>
            </div>
        </div>
     </div>
     </div>
    
     
