@model UAS.Core.DAL.Common.Model.Page

@{
    ViewBag.Title = "Páginas";
}

   <div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2 class="text-uppercase">@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Administración</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Eliminar Página</h5>
                    </div>
                    <div class="ibox-content">
    				<h4 class="text-danger">¿Desea eliminar el registro?</h4>
    				 <dl class="dl-horizontal">
            <dt>
                Título
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
    
            <dt>
                Item de Menu
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.MenuItem)
            </dd>
    
            <dt>
                # Padre
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ParentId)
            </dd>
    
            <dt>
                Icono
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Icon)
            </dd>
    
            <dt>
                Orden
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Order)
            </dd>
    
            <dt>
                Fecha de Registro
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegisterDate)
            </dd>
    
            <dt>
                Controlador
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Controller)
            </dd>
    
            <dt>
                Acción
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Action)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-primary" />
                @Html.ActionLink("Volver a Listado", "Index", null, new { @class = "btn btn-white"})
            </div>
        }
    
    
    
                    </div>
                </div>
            </div>
        </div>
     </div>
     </div>
    