@using UAS.Core.Configuration;
@using UAS.Core.Session.Entities;

@{
    var session = @ViewData[ConfigurationManager.SESSION_KEY] as Session;
}
@functions{

    public bool HasChilds(UAS.Core.Session.Entities.Page page, List<UAS.Core.Session.Entities.Page> pages)
    {
        return pages.Where(searchedPage => searchedPage.ParentId == page.IdPage).Any();
    }

}

@helper MenuBuilder(List<UAS.Core.Session.Entities.Page> pages, int? parentId = null)
{
    foreach (var page in pages.Where(item => item.ParentId == parentId))
    {
        var hasChildrens = HasChilds(page, pages);
        if (page.IsVisible)
        {
            <li class="@Html.IsSelected(controller: @page.IdPage.ToString())">
                <a href="@Url.Content(@page.MenuItem)">
                    <i class="@page.IconClass"></i>
                    <span class="nav-label">@page.Title</span>
                    @{
                        if (hasChildrens)
                        {
                            <span class="fa arrow"></span>
                        }
                    }
                </a>
                @{
                    if (hasChildrens)
                    {
                        <ul class="nav collapse">
                            @MenuBuilder(pages, page.IdPage)
                        </ul>
                    }
                    else
                    {
                        @MenuBuilder(pages, page.IdPage)
                    }
                }
            </li>
        }
    }
}

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="@Url.Content(session.SessionUser.ImageRelativePath)" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@Html.Raw(session.SessionUser.FullName)</strong>
                            </span> <span class="text-muted text-xs block">@Html.Raw(session.SessionUser.RoleName) <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="@Url.Action("Logout", "Account")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    UAS+
                </div>
            </li>
            @MenuBuilder(session.SessionUser.Pages)
        </ul>
    </div>
</nav>