@using UAS.Core.DAL.Common.Model;
@using UAS.Core.Session.Entities;

@{
    var session = @ViewData[UAS.Core.Configuration.ConfigurationManager.SESSION_KEY] as Session;
    var course = ViewBag.Course as Course;
    var teacher = ViewBag.Teacher as Teacher;
}

<div class="profile-image">
    <img src="@Url.Content(teacher.ImageRelativePath)" class="img-circle circle-border m-b-md" alt="profile">
</div>
<div class="profile-info">
    <div class="">
        <div>
            <h2 class="no-margins">
                <strong>
                    @Html.Raw(session.SessionUser.FullName.ToUpper())
                </strong>
            </h2>
            <h4>@Html.Raw(session.SessionUser.RoleName)</h4>
            <small>
                <strong>Asignatura: </strong> @if (course != null)
                { @course.Name;
                }
                else
                {
                    <span>Sin curso</span>
                }
                <br />
                <strong>Número de Créditos: </strong> @if (course != null)
                { @course.NumberOfCredits;
                }
                else
                {
                    <span>Sin créditos</span>
                }
                <br />
                <strong>Espacio: </strong> @if (course != null)
                { @course.SpaceDescription;
                }
                else
                {
                    <span>Sin espacio</span>
                }
                <br />
                <strong>Horario: </strong> @if (course != null)
                {
                    var scheduleTime = new HtmlString(string.Concat(@course.StartTime, " - ", @course.EndTime)); @scheduleTime;
                }
                else
                {
                    <span>Sin horario</span>
                }
                <br />
            </small>
        </div>
    </div>
</div>