@model IEnumerable<UAS.Core.DAL.Common.Model.StudentMovement>
@{
    ViewBag.Title = "Aula Virtual";
    var session = @ViewData[UAS.Core.Configuration.ConfigurationManager.SESSION_KEY] as UAS.Core.Session.Entities.Session;
    var course = ViewBag.Course as UAS.Core.DAL.Common.Model.Course;
    var teacher = ViewBag.Teacher as UAS.Core.DAL.Common.Model.Teacher;
}

<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>@ViewBag.Title.ToString().ToUpper()</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Asistencia</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row m-b-lg m-t-lg">
            <div class="col-md-6">

                <div class="profile-image">
                    <img src="@Url.Content(teacher.ImageRelativePath)" class="img-circle circle-border m-b-md" alt="profile">
                </div>
                <div class="profile-info">
                    <div class="">
                        <div>
                            <h2 class="no-margins">
                                @Html.Raw(session.SessionUser.FullName)
                            </h2>
                            <h4>@Html.Raw(session.SessionUser.RoleName)</h4>
                            <small>
                                <strong>Asignatura: </strong> @course.Name<br/>
                                <strong>Número de Créditos: </strong> @course.NumberOfCredits<br />
                                <strong>Descripción: </strong> There are many variations of passages of Lorem Ipsum available, but the majority
                                have suffered alteration in some form Ipsum available.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <table class="table small m-b-xs">
                    <tbody>
                        <tr>
                            <td>
                                <strong>14</strong> Asistentes
                            </td>
                            <td>
                                <strong>22</strong> Inasistentes
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>61</strong> Matriculados
                            </td>
                            <td>
                                <strong>4</strong> No matriculados
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <small>Comportamiento Asistencia 24h</small>
                <h2 class="no-margins">2 048</h2>
                <div id="sparkline1"></div>
            </div>
        </div>

        @Html.Partial("VirtualStudentsClassRoomPartial", Model)
    </div>

</div>

@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/sparkLine")
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/App/AttendanceMovementViewModel.js"></script>
}