
@{
    ViewBag.Title = "Dashboard v.1";
    var session = @ViewData[UAS.Core.Configuration.ConfigurationManager.SESSION_KEY] as UAS.Core.Session.Entities.Session;
}

<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>This is main title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">This is</a>
                </li>
                <li class="active">
                    <strong>Breadcrumb</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row m-b-lg m-t-lg">
            <div class="col-md-6">

                <div class="profile-image">
                    <img src="~/Images/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
                </div>
                <div class="profile-info">
                    <div class="">
                        <div>
                            <h2 class="no-margins">
                                @Html.Raw(session.SessionUser.FullName)
                            </h2>
                            <h4>@Html.Raw(session.SessionUser.RoleName)</h4>
                            <small>
                                There are many variations of passages of Lorem Ipsum available, but the majority
                                have suffered alteration in some form Ipsum available.
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <table class="table small m-b-xs">
                    <tbody>
                        <tr>
                            <td>
                                <strong>142</strong> Projects
                            </td>
                            <td>
                                <strong>22</strong> Followers
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>61</strong> Comments
                            </td>
                            <td>
                                <strong>54</strong> Articles
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>154</strong> Tags
                            </td>
                            <td>
                                <strong>32</strong> Friends
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <small>Sales in last 24h</small>
                <h2 class="no-margins">206 480</h2>
                <div id="sparkline1"></div>
            </div>
        </div>


        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                <div class="col-lg-3">
                    <div class="contact-box">
                        <a href="@Url.Action("Profile", "AppViews")">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a2.jpg">
                                    <div class="m-t-xs font-bold">Graphics designer</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>John Smith</strong></h3>
                                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="contact-box">
                        <a href="@Url.Action("Profile", "AppViews")">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a1.jpg">
                                    <div class="m-t-xs font-bold">CEO</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>Alex Johnatan</strong></h3>
                                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="contact-box">
                        <a href="@Url.Action("Profile", "AppViews")">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a3.jpg">
                                    <div class="m-t-xs font-bold">Marketing manager</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>Monica Smith</strong></h3>
                                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="contact-box">
                        <a href="@Url.Action("Profile", "AppViews")">
                            <div class="col-sm-4">
                                <div class="text-center">
                                    <img alt="image" class="img-circle m-t-xs img-responsive" src="~/Images/a5.jpg">
                                    <div class="m-t-xs font-bold">Graphics designer</div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <h3><strong>Sandra Smith</strong></h3>
                                <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                            </div>
                            <div class="clearfix"></div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/plugins/toastrStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/sparkLine")
    @Scripts.Render("~/plugins/toastr")
    <script src="~/Scripts/knockout-3.4.0.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/App/AttendanceMovementViewModel.js"></script>
}