@model UAS.Core.DAL.Common.Model.Schedule

@{
    ViewBag.Title = "Programación de Cursos";
}

<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2 class="text-uppercase">@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Administración</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Crear Programación de Curso</h5>
                    </div>
                    <div class="ibox-content">
    
    				@using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                <label class = "control-label col-md-2">Profesor</label>
                <div class="col-md-10">
                    @Html.DropDownList("TeacherDocumentNumber",null,String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TeacherDocumentNumber)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Curso</label>
                <div class="col-md-10">
                    @Html.DropDownList("IdCourse",null,String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdCourse)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Periodo</label>
                <div class="col-md-10">
                    @Html.DropDownList("IdAcademicPeriod",null,String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.IdAcademicPeriod)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Descripción Curso</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>
    
            <div class="form-group">
                <label class = "control-label col-md-2">Fecha de Registro</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RegisterDate)
                    @Html.ValidationMessageFor(model => model.RegisterDate)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
    				@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-white"})
                </div>
            </div>
        </div>
    }
    
                    </div>
                </div>
            </div>
        </div>
     </div>
         </div>
