@model UAS.Core.DAL.Common.Model.User

@{
     ViewBag.Title = "Usuarios";
}

<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2 class="text-uppercase">@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Administración</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle de Usuario</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Apellido
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            Teléfono
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelephoneNumber)
        </dd>

        <dt>
            ¿Activo?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            Fecha de Registro
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterDate)
        </dd>

        <dt>
            Creado Por
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            Fecha Última Modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastModiticationDate)
        </dd>

        <dt>
            Modificado Por
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            # Documento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            Ruta Foto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageRelativePath)
        </dd>

        <dt>
            Rol
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Alias)
        </dd>

    </dl>


	    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Volver a Listado", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>

</div>











