@model UAS.Core.DAL.Common.Model.Enrollment

@{
    ViewBag.Title = "Matrícula";
}

<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2 class="text-uppercase">@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Administración</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>
    
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Detalle de Matrícula</h5>
                    </div>
                    <div class="ibox-content">
    
    
    				    <dl class="dl-horizontal">
            <dt>
                Fecha de Registro
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegisterDate)
            </dd>
    
            <dt>
                Periodo
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.AcademicPeriod.Id)
            </dd>
    
            <dt>
                Estado Matrícula
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EnrollmentStatu.Name)
            </dd>
    
            <dt>
                Estudiante
            </dt>
    
            <dd>
                @model.Student.Name @model.Student.LastName
            </dd>
    
        </dl>
    
    
    	    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
        @Html.ActionLink("Volver a Lista", "Index", null, new { @class = "btn btn-white"})
    
                    </div>
                </div>
            </div>
        </div>
     </div>
     </div>