@model UAS.Core.DAL.Common.Model.Role

@{
    ViewBag.Title = "Roles";
}


<div id="wrapper">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2 class="text-uppercase">@ViewBag.Title</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Administración</a>
                </li>
                <li class="active">
                    <strong>@ViewBag.Title</strong>
                </li>
            </ol>
        </div>
    </div>    
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Detalle Rol</h5>
                    </div>
                    <div class="ibox-content">
    
    
    				    <dl class="dl-horizontal">
            <dt>
                Nombre
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Alias)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Alias)
            </dd>
    
            <dt>
                Fecha de Registro
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegisterDate)
            </dd>
    
        </dl>
    
    
    	    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
        @Html.ActionLink("Volver a Listado", "Index", null, new { @class = "btn btn-white"})
    
                    </div>
                </div>
            </div>
        </div>
     </div>
    </div>
    
