@{
    ViewBag.Title = "Dashboard";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title.ToString().ToUpper()</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title.ToString()</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row border-bottom white-bg dashboard-header">



</div>


@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/chartJs")
    @Scripts.Render("~/plugins/peity")

    <script type="text/javascript">
       
    </script>
}
