@{
    ViewBag.Title = "Dashboard";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>@ViewBag.Title.ToString().ToUpper()</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li class="active">
                <strong>@ViewBag.Title.ToString()</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">

    @Html.Partial("StatisticsAttendanceVsNonAttendancePartial")

    @Html.Partial("StatisticsNonAttendancePartial")

    @Html.Partial("StatisticsExcusesPartial")
</div>


@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/chartJs")
    @Scripts.Render("~/plugins/peity")
    <script src="~/App/DashboardViewModel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("span.pie").peity("pie", {
                fill: ['#1ab394', '#d7d7d7', '#ffffff']
            });
        });
    </script>
}