@using System;
@using UAS.Core.DAL.Common.Model;

@{
    var currentAcademicPeriod = ViewBag.CurrentAcademicPeriod as AcademicPeriodView;
    var statisticsAttendanceVsNonAttendance = ViewBag.StatisticsAttendanceVsNonAttendance as IList<Statistic>;
    var topStatistictsMajorMonthsAttendanceAndNonAttendance =
        ViewBag.TopStatistictsMajorMonthsAttendanceAndNonAttendance as IList<Statistic>;
}

@functions{
    public enum StatisticType
    {
        TOTAL_GENERAL = 0,
        TOTAL_ATTENDANCE = 1,
        TOTAL_NON_ATTENDANCE = 2,
        TOTAL_PERCENTAGE_ATTENDANCE = 3,
        TOTAL_PERCENTAGE_NON_ATTENDANCE = 4
    };

    public static string GetPercentageWithFormat(decimal percentage)
    {
        var newPercentage = percentage * 100;
        return newPercentage > 0 ? string.Concat(newPercentage.ToString("00"), "%") : string.Concat(newPercentage.ToString("0"), "%");
    }

    public static Statistic GetStatisticMajorMonthAttendance(IEnumerable<Statistic> statistics, string key)
    {
        var majorStatisticAttendance = new Statistic();

        if (statistics != null)
        {
            foreach (var statistic in statistics)
            {
                if (statistic.Summary.ContainsKey(key))
                {
                    majorStatisticAttendance = statistic;
                    break;
                }
            }
        }

        return majorStatisticAttendance;
    }

    public static string GetStatisticValue(IEnumerable<Statistic> statistics, StatisticType statisticType)
    {
        decimal total = 0;
        decimal attendance = 0;
        decimal nonAttendance = 0;

        if (statistics != null)
        {
            foreach (var statistic in statistics)
            {
                foreach (var eventType in statistic.Summary)
                {
                    if (eventType.Key.ToString().ToUpper().Equals("ATTENDANCE"))
                    {
                        attendance += eventType.Value;
                    }
                    else
                    {
                        nonAttendance += eventType.Value;
                    }
                    total += eventType.Value;
                }
            }
        }

        switch (statisticType)
        {
            case StatisticType.TOTAL_GENERAL: return total.ToString();
            case StatisticType.TOTAL_ATTENDANCE: return attendance.ToString();
            case StatisticType.TOTAL_NON_ATTENDANCE: return nonAttendance.ToString();
            case StatisticType.TOTAL_PERCENTAGE_ATTENDANCE:
                {
                    var percentage = total > 0 ? ((attendance / total) * 100) : 0;
                    var pergentageFormat = string.Concat(percentage.ToString("00"), "%");
                    return pergentageFormat;
                }

            case StatisticType.TOTAL_PERCENTAGE_NON_ATTENDANCE:
                {
                    var percentage = total > 0 ? ((nonAttendance / total) * 100) : 0;
                    var pergentageFormat = string.Concat(percentage.ToString("00"), "%");
                    return pergentageFormat;
                }
            default: return string.Empty;
        }
    }
}
<div id="attendance-section" class="row">
    <div class="col-lg-9">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div>
                    <span class="pull-right text-right">
                        @if (currentAcademicPeriod != null)
                        {
                            <small>Movimientos estimados en el periodo: <strong>@currentAcademicPeriod.StartDateMonthName.ToUpper() - @currentAcademicPeriod.EndDateMonthName.ToUpper() del @currentAcademicPeriod.Period</strong></small>
                            <br />
                        }
                        Total movimientos estimados a la fecha en la facultad: <span class="label label-primary">@GetStatisticValue(statisticsAttendanceVsNonAttendance, StatisticType.TOTAL_GENERAL)</span>
                    </span>
                    <h3 class="font-bold no-margins text-uppercase">
                        Comportamiento General Asistencia y Ausentismo
                    </h3>
                    @if (currentAcademicPeriod != null)
                    {
                        <small>Periodo académico <strong>@currentAcademicPeriod.StartDateMonthName.ToUpper() - @currentAcademicPeriod.EndDateMonthName.ToUpper() del @currentAcademicPeriod.Period</strong></small>
                    }
                </div>

                <div class="m-t-sm">
                    <div class="row">
                        <div class="col-md-8">
                            <div>
                                <canvas id="graphLinearAttendanceVsNonAttendance" height="114"></canvas>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="stat-list m-t-lg">
                                <li>
                                    <h2 class="no-margins">@GetStatisticValue(statisticsAttendanceVsNonAttendance, StatisticType.TOTAL_ATTENDANCE)</h2>
                                    <small>Asistencia(s)</small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: @GetStatisticValue(statisticsAttendanceVsNonAttendance, StatisticType.TOTAL_PERCENTAGE_ATTENDANCE);"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins ">@GetStatisticValue(statisticsAttendanceVsNonAttendance, StatisticType.TOTAL_NON_ATTENDANCE)</h2>
                                    <small>Ausentismo(s)</small>
                                    <div class="progress progress-mini">
                                        <div class="progress-bar" style="width: @GetStatisticValue(statisticsAttendanceVsNonAttendance, StatisticType.TOTAL_PERCENTAGE_NON_ATTENDANCE);"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        Última actualización @DateTime.Now.ToString("HH:mm")
                    </small>
                    <small>
                        <span class="fa fa-square text-navy"></span>&nbsp;&nbsp;&nbsp;Asistencia<br />
                        <span class="fa fa-square"></span>&nbsp;&nbsp;&nbsp;Ausentismo
                    </small>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-3">

        @{
            var majorStatisticMonthAttendance =
                GetStatisticMajorMonthAttendance(topStatistictsMajorMonthsAttendanceAndNonAttendance, "Attendance");

            if (majorStatisticMonthAttendance != null)
            {
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-thumbs-up fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>@majorStatisticMonthAttendance.Description mes mayor asistencia </span>
                            <h2 class="font-bold">@majorStatisticMonthAttendance.Total (@GetPercentageWithFormat(majorStatisticMonthAttendance.Percentage))</h2>
                            <span>Asistencia(s)</span>
                        </div>
                    </div>
                </div>
            }
            var majorStatisticMonthNonAttendance =
            GetStatisticMajorMonthAttendance(topStatistictsMajorMonthsAttendanceAndNonAttendance, "NonAttendance");

            if (majorStatisticMonthNonAttendance != null)
            {
                <div class="widget style1 red-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="fa fa-thumbs-down fa-5x"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span>@majorStatisticMonthNonAttendance.Description mes mayor ausentismo </span>
                            <h2 class="font-bold">@majorStatisticMonthNonAttendance.Total (@GetPercentageWithFormat(majorStatisticMonthNonAttendance.Percentage))</h2>
                            <span>Ausentismo(s)</span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div>
